@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    background: #f2f2f2;
}
.title {
	text-align: center;
	font-size: 32px;
	padding: 40px 0;
	color: #FFF;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./lrKU8Nu.jpg");
	background-size: cover;
	background-position-y: bottom;
}
.container {
    margin-top: 20px;
	background: #fff;
	max-width: 600px;
	margin: 20px auto;
    
}
.currency {
	display: flex;
	position: sticky;
	top: 0;
	background: #fff;
	padding: 20px;
	border-bottom: 2px solid #f2f2f2;
}
.currency .currencyvalue {
    text-align: center;
	font-size: 24px;
	border: 0;
	border-bottom: 2px solid #000;
	margin-right: 8px;
	-moz-appearance: textfield;
}

.currencyvalue::-webkit-outer-spin-button,
.currencyvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    padding: 12px;
}
.errmsg {
	text-align: center;
	font-size: 20px;
	margin-top: 40px ;
	padding: 20px;
	color:#fff;
	background: rgb(255, 0, 98);
}

.othercurrencys {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
.scurrency {
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	transition: 0.15s;
}
.scurrency:hover {
	background: #f0f0f0;
}
.footer {
	text-align: center;
	padding: 20px;
	background: rgb(0, 21, 42);
	color: #fff;
}
.footer a {
	color: #fff;
}
@media screen and (max-width: 480px) {
	.title{
		font-size: 24px;
	}
	input[type="number"] {
		width: 140px !important;
	}
}